[Unit]
Description=NASA daily wallpaper

[Service]
Type=oneshot
ExecStart=/usr/bin/wallpaper-switch
After=network-online.target
After=gdm.service
After=dbus.service
