[Unit]
Description=NASA daily wallpaper
After=network-online.target
After=gdm.service
After=dbus.service

[Service]
Type=oneshot
ExecStart=/usr/bin/wallpaper-switch
